.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 99999;
    height: 100vh;
    padding-top: 42px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;

    a {
        color: #000;
        text-decoration: none;
        padding: 0.5rem 0;
        font-size: 24px;
    }
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background: transparent;
    outline: none;
    border: none;
}