@tailwind base;
@tailwind components;
@tailwind utilities;

.rich-text {
}

.rich-text h1 {
    @apply text-4xl font-bold mb-4;
}

.rich-text h2 {
    @apply text-3xl font-bold mb-4;
}

.rich-text h3 {
    @apply lg:text-h4 xl:text-h6 md:text-h6 text-h6 font-black mb-8 no-underline;
}

.rich-text h4 {
    @apply lg:text-h4 xl:text-h4 md:text-h3M text-h3M mb-1 lg:mb-4 xl:mb-4 uppercase leading-headingLH1;
}

.rich-text h5 {
    @apply text-lg font-bold mb-4;
}

.rich-text h6 {
    @apply text-base font-bold mb-4;
}

/* Horizontal rules */
.rich-text hr {
    @apply border-gray-300 my-8;
}

.rich-text a {
    @apply underline;
}

/* Typographic replacements */
.rich-text p {
    @apply mb-4 lg:mb-3 xl:mb-3 text-b14 md:text-b14 lg:text-b16 xl:text-b16;
}

/* Emphasis */
.rich-text strong {
    @apply font-bold;
}

.rich-text em {
    @apply italic;
}

.rich-text del {
    @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
    @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
    @apply list-disc pl-4 mb-4;
}

.rich-text ol {
    @apply list-decimal pl-4 mb-4;
}

.rich-text li {
    @apply mb-2;
}

.rich-text li>ul {
    @apply list-disc pl-4 mb-2;
}

.rich-text li>ol {
    @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
    @apply font-mono bg-gray-900 text-gray-100 rounded p-4 my-6;
}

.rich-text code {
    @apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
    @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
    @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
    @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
    @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
    @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

.admin-logo {
    filter: invert(0);
}