@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animateMarquee {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}