@use '../../_css/queries.scss' as *;

.content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #085269;
    }

    p {
        color: #5C5251;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    display: inline-flex;
    padding: 12px 24px;
    line-height: 120%;
    font-size: 16px;
    border-radius: 16px;
    background-color: #085269;
    color: white;
    box-shadow:
        inset -4px -4px 8px rgba(8, 82, 105, 0.25),
        inset 0 4px 4px rgba(255, 255, 255, 0.5);
}