@import '../../_css/common';

.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: 'Inter';
  border: none;
  outline: none;
  background: none;
  background-color: #efeae6;
  color: #41210D;
  height: 52px;
  padding: 12px;
  line-height: 120%;
  font-size: 14px;
  border-radius: 8px;
  transition: .5s;
  // box-shadow:
  //   inset -4px -4px 8px rgba(165, 70, 9, 0.25),
  //   inset 0 4px 4px rgba(255, 255, 255, 0.5);

  // &:focus {
  //   border: none;
  //   outline-color: #f85825;
  //   outline-width: 0.5px;
  //   outline-style: solid;
  //   outline-offset: 2px;
  // }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--theme-text);
    // -webkit-box-shadow: 0 0 0px 1000px var(--theme-elevation-150) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.asterisk {
  color: var(--color-error-500);
}

// :global([data-theme="dark"]) {
//   .input {
//     background-color: var(--theme-elevation-150);
//   }
// }

.error {
  background-color: var(--theme-error-150);
}

.label {
  margin-bottom: 0;
  display: block;
  line-height: 1;
  margin-bottom: calc(var(--base) / 2);
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  color: red;
}